<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Aryan Rana Resume</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="validationApp">
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="logo">
          <a href="#hero">
            <h1><span>A</span>ryan <span>R</span>ana</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero">Home</a></li>
            <li><a href="#skills">skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, <span></span></h1>
        <h1>My Name is <span></span></h1>
        <h1>Aryan <span></span></h1>
        <a href="#projects" type="button" class="btn">Projects</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Skills Section -->
  <section id="skills">
    <div class="skills container">
      <div class="skills-top">
        <h1 class="section-title">Sk<span>i</span>lls</h1>
        <p>Being a computer science student is tough. You should have more skills than your contacts ;p</p>
      </div>
      <div class="skills-bottom">
        <div class="skills-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Front End</h2>
          <p>Proficient in HTML5, CSS and JavaScript. (I can center a div)</p>
        </div>
        <div class="skills-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Data Structures</h2>
          <p>Good theoretical knowledge of Data Structures in C.</p>
        </div>
        <div class="skills-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Programming Languages</h2>
          <p>JavaScript, Java, C, Python, Scala</p>
        </div>
        <div class="skills-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Object Oriented Programming</h2>
          <p>Proficient in OOPs concept in Java.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Recent <span>Projects</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <a href="https://github.com/aryanrana19/CSI-HACKATHON">CSI Hackathon 8.0</a>
            <h2>Personalized Itinerary Planner</h2>
            <p>Participated in CSI Hackathon 8.0 organized by Computer Society of India in my University. Our Project was to make a Personalized Itinerary Planner. Me and my team cleared the first presentation round and 2nd round where we made a frontend site.</p>
          </div>
          <div class="project-img">
            <img src="./img/hackathon.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <a href="https://github.com/aryanrana19/Hostel-Booking-System-with-MYSQL-database---Java-Assignment-2">Hostel Booking System -- Java</a>
            <h2>Menu Driven Java project with SQL database</h2>
            <p>This was my OOPs assignment in 3rd semester. I created a manu driven system where you can create a hostel, and book it with different amenities. The information would be stored in the SQL database connected with the help of JDBC.</p>
          </div>
          <div class="project-img">
            <img src="./img/img-1.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <a href="https://github.com/aryanrana19/Hostel-Booking-system-with-MONGODB">Hostel Booking System -- Python</a>
            <h2>Menu Driven Python project with MongoDB database</h2>
            <p>This was my Big Data Storage assignment in 4th semester. It resembles my "Hostel Booking System using java and sql database" but with python and MongoDB database. It has additional data compared to last project.</p>
          </div>
          <div class="project-img">
            <img src="./img/pyhton.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <a href="https://github.com/aryanrana19/Delightful-Bites-Restaurant----Project">Delightful Bites Restaurant Website</a>
            <h2>Frontend website for a Restaurant</h2>
            <p>I made this project solely for practice, and it turned out good. I used flexbox, grid, transitions and Media Queries. Every basic to intermediate HTML5, CSS skill.</p>
          </div>
          <div class="project-img">
            <img src="./img/Delightful bites.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <a href="https://github.com/aryanrana19/ShoppingWebpage">Landing Page for Keyboard</a>
            <h2>Frontend of a keyboard buying website</h2>
            <p>This was my first project after getting into the world of frontend. This is really basic but eye catchy webpage to buy a keyboard.</p>
          </div>
          <div class="project-img">
            <img src="./img/keyboard.png" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="./img/my-photo.jpg" alt="my photo">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>me</span></h1>
        <h2>Front End Developer</h2>
        <p>I am a dedicated Computer Science student at the University of Petroleum and Energy Studies, Dehradun, with a passion for harnessing the power of Big Data to drive innovation and insights and a fullstack enthusiast.</p>
        <a href="assets/Aryan_Rana_Resume.pdf" class="btn">Download Resume</a>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+91 980555214</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>aryanranaofficial19@gmail.com</h2>
            <h2>itsaryanrana@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Shamshi, Kullu, HP, India</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- FORM SECTION -->
<section class="form">
  <div class="form-content" ng-controller="mainController">
    <form name="userForm" ng-submit="submitForm()" novalidate>
        <div class="form-item">
            <label for="name">Enter your Name</label>
            <input type="text" ng-model="name" name="name" required>
            <div class="alert-red" ng-show="userForm.name.$error.required">Name is required.</div>
        </div>
        <div class="form-item">
            <label for="age">Enter your Age</label>
            <input type="number" ng-model="age" name="age" required>
            <div class="alert-red" ng-show="userForm.age.$error.required">Age is required.</div>
        </div>
        <div class="form-item">
            <label for="email">Enter your Email</label>
            <input type="email" ng-model="email" name="email" required>
            <div class="alert-red" ng-show="userForm.email.$error.required">Email is required.</div>
            <div class="alert-red" ng-show="userForm.email.$error.email">Invalid email address.</div>
        </div>
        <div class="form-item">
            <label for="course">Enter your Course</label>
            <input type="text" ng-model="course" name="course" required>
            <div class="alert-red" ng-show="userForm.course.$error.required">Course is required.</div>
        </div>
        <div class="form-item">
            <label for="Address">Enter your Address</label>
            <input type="text" ng-model="address" name="address" required>
            <div class="alert-red" ng-show="userForm.address.$error.required">Address is required.</div>
        </div>
        <div class="form-item">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
</section>



  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="logo">
        <h1><span>A</span>ryan <span>R</span>ana</h1>
      </div>
      <h2>Hesitation is Defeat</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="https://github.com/aryanrana19?tab=overview&from=2024-04-01&to=2024-04-11"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/200px-GitHub_Invertocat_Logo.svg.png" alt="Github logo png"></a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/aryanrana_19/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/150px-Instagram_logo_2022.svg.png" alt="instagram logo"></a>
        </div>
        <div class="social-item">
          <a href="https://www.linkedin.com/in/aryan-rana-588b4a24a/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/480px-LinkedIn_logo_initials.png" alt="linkedin logo"></a>
        </div>
      </div>
      <p>Copyright &copy; 2024 Aryan. All rights reserved</p>
    </div>
  </section>
  <div class="clock">
    <div id="time"></div>
</div>
  <!-- End Footer -->
  <script src="./app.js"></script>
</body>

</html>